img, embed, object, video {
  max-width: 100%;
}

.container {
  background-color: white;
  margin-bottom: 40px;
  margin-top: 40px;
  border-radius: 10px;
}

body {
  background-color: #d6d6d6;
}

.header {
  margin-top: 30px;
}

.mid-hr {
  border-width: 2px;
  border-color: #7d97ad;
  margin-bottom: 40px;
}

.logo {
  width: 120px;
}

.radius {
  width: 330px;
  margin-left: 15px;
}

.mid-section {
  margin-bottom: 40px;
}

.city-sentence {
  color: #7d97ad;
}

.top-hr {
  border-width: 5px;
  border-color: #7d97ad;
}

@media screen and (max-width: 520px) {
  .majeed-font-size {
    font-size: 20px;
  }
  .front-font-size {
    font-size: 14px;
  }
  .mid-hr {
          width: 70%;
  }
  .logo {
          width: 85px;
  }
  .cities-font-size {
    font-size: 23px;
  }
}

@media screen and (min-width: 521px) and (max-width: 1000px) {
  .radius {
    margin-left: 190px;
  }
  .mid-hr {
    width: 50%;
  }
}
